<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="emailPw" value="X"/>  <!--enter the email password here-->
    <add key="emailsTo" value="X" />  <!--enter the email you're sending to here-->
    <add key="emailFrom" value="X" />  <!--enter the email you're sending from here-->
    <add key="host" value="X" />
    <add key="port" value="X" />
    <add key="serilog:using:MSSqlServer" value="Serilog.Sinks.MSSqlServer" />
    <add key="serilog:write-to:MSSqlServer.connectionString" value="X"/>
    <add key="serilog:write-to:MSSqlServer.tableName" value="X"/>
    <add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="true"/>
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="X"/>  <!--TODO: Update this -->
    <add key="serilog:write-to:RollingFile.rollOnFileSizeLimit" value="true" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <!--Folders-->
    <add key="localFileTestLogFolder" value="X"/>
  </appSettings>
  <connectionStrings>
    <!--Local-->
    <add name="TestServe" connectionString="X"/>
    <add name="AnotherTest" connectionString="X"/>
  </connectionStrings>
</configuration>