<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="emailPw" value="xxx"/>  <!--enter the email password here-->
    <add key="emailsTo" value="mstohri@fulcrumgt.com" />
    <add key="emailFrom" value="mstohri@fulcrumgt.com" />
    <add key="host" value="exchange.fulcrumgt.com" />
    <add key="port" value="587" />
    <add key="serilog:using:MSSqlServer" value="Serilog.Sinks.MSSqlServer" />
    <add key="serilog:write-to:MSSqlServer.connectionString" value="AnotherTest"/>
    <add key="serilog:write-to:MSSqlServer.tableName" value="Logs"/>
    <add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="true"/>
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="\log-{Date}.txt"/><!--TODO - fill this in-->
    <add key="serilog:write-to:RollingFile.rollOnFileSizeLimit" value="true" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <!--Production-->
    <add key="prodFileShareFolder" value="\\p054acrfile01.uscust.local\acr\Prod"/>
    <add key="appServer1" value="P054ACRAPPS01"/>
    <add key="appServer2" value="P054ACRAPPS02"/>
    <add key="appServer3" value="P054ACRAPPS03"/>
    <add key="appServer4" value="P054ACRAPPS04"/>
    <add key="appServer5" value="P054ACRAPPS05"/>
    <add key="appServer6" value="P054ACRAPPS06"/>
    <add key="appServer7" value="P054ACRAPPS07"/>
    <add key="appServer8" value="P054ACRAPPS08"/>
    <add key="appServer9" value="P054ACRAPPS09"/>
    <add key="appServer10" value="P054ACRAPPS10"/>
    <add key="appServer11" value="P054ACRAPPS11"/>
    <add key="appServer12" value="P054ACRAPPS12"/>
    <add key="appServer13" value="P054ACRAPPS13"/>
    <add key="appServer14" value="P054ACRAPPS14"/>
    <add key="webServer1" value="P054ACRWEBS01"/>
    <add key="webServer2" value="P054ACRWEBS02"/>
    <add key="webServer3" value="P054ACRWEBS03"/>
    <add key="webServer4" value="P054ACRWEBS04"/>
    <add key="reportServer" value="P054ACRRPTS01"/>
  </appSettings>
  <connectionStrings>
    <!--Production--><!--Needs UN and PW filled in --><!--
    <add name="AacerUtilitiesConnection" connectionString="Server=P054SQLCI6101.USCUST.LOCAL\AACER01;Database=AacerUtilities;User Id=;Password=;Application Name=HealthAndLogCheck;" />
    <add name="APLDataConnection" connectionString="Server=P054SQLCI6101.USCUST.LOCAL\AACER01;Database=APLData;User Id=;Password=;MultipleActiveResultSets=True;Application Name=HealthAndLog;" />
    <add name="ASAPConnection" connectionString="Server=P054SQLCI6101.USCUST.LOCAL\AACER01;Database=ASAP;User Id=;Password=;Application Name=HealthAndLogCheck;" />-->
  </connectionStrings>
</configuration>